$darkg_color : #333;
$white : #fff;
$lightg_txt:#3c3c3c;
$hex_878:#878787;
$grid-breakpoints: (
	sm: 420px,
  	md: 720px,
  	lg: 960px
);

html,body {
  font-size: 1rem;
    font-family: 'OpenSans','sans-serif';
}

* p,span{
	margin:0;
	&.xsm-txt{
		font-size: .8rem;
	}
	&.sm-txt{
		font-size: 1rem;
	}
	&.md-txt{
		font-size: 1.5rem;
	}
	&.lg-txt{
		font-size: 2.5rem;
	}
	&.xlg-txt{
		font-size: 3.5rem;
	}
}
.txt{
	&_lightg{
		color:$lightg_txt;
	}
	&_878{
		color:$hex_878;
	}
}
img{
	width:100%;
}
header{
	.fixedbg{
		display:none;
	    height: 100%;
    	width: 100%;
    	background: rgba(0, 0, 0, 0.3);
    	position: fixed;
    	z-index: 999;
    }
	.navbar{
    	position: absolute;
    	width: 100%;
    	z-index: 99999;
		.navbar-brand{color:$white;}
		.navbar-nav{
			&.menu{
				li{
					a{
						padding: 0 15px;

					}
					&.login{
						position: relative;
						&:after{
						    content: " ";
						    position: absolute;
						    top: 10px;
						    width: 25px;
						    background: #009fd9;
						    display: block;
						    height: 3px;
						    right: -20px;
						}
					}
				}
			}
			align-items:center;
			li{
				&:last-child{
					a.lc{
						padding-left: 30px;
						padding-right: 0;
					}
				}
				a{
					color: $white;
				}
			}
		}
	}
}
.main-cont{
	min-width: 320px;
	display:block;
	background:url(../images/MockupForExam_01.jpg);
	background-size: cover;
	width:100%;
	height:100%;
	.cover-container {
		width: 50%;
		.welcome{
			margin-top: 50%;
			color:$white;
			.ssm{
				font-size: .9rem;
			}
			.search{
				background:$white;
				width:70%;
				margin:0 auto;
				position: relative;
				height:45px;
				line-height: 45px;
				border-radius: 30px;
				overflow: hidden;
				input{
					width:100%;
					border:none;
					outline:none;
					padding: 0 15px;
					&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					  color: #e6e6e6;
					  font-size: .8rem;
					  font-style: italic;
					}
					&::-moz-placeholder { /* Firefox 19+ */
					  color: #e6e6e6;
					  font-size: .8rem;
					  font-style: italic;
					}
					&:-ms-input-placeholder { /* IE 10+ */
					  color: #e6e6e6;
					  font-size: .8rem;
					  font-style: italic;
					}
					&:-moz-placeholder { /* Firefox 18- */
					  color: #e6e6e6;
					  font-size: .8rem;
					  font-style: italic;
					}
				}
				.btn{
				    position: absolute;
				    right: 4px;
				    top: 4px;
				    border-radius: 33px;
				    background:#009fd9;
				    color:$white;
				    padding: 5px 15px;
				    outline:none;
				    span{
				    	padding-left: 5px;
				    	display:inline-block;
				    }
				}
			}
		}
	}
}

#navico {
	width: 33px;
	height: 18px;
	margin-right: 9px;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;

  span {
	  display: block;
	  position: absolute;
	  height: 2px;
	  width: 100%;
	  background: $white;
	  border-radius: 3px;
	  opacity: 1;
	  left: 0;
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	  -webkit-transition: .25s ease-in-out;
	  -moz-transition: .25s ease-in-out;
	  -o-transition: .25s ease-in-out;
	  transition: .25s ease-in-out;
	  	&:nth-child(1) {
		  top: 0px;
		  -webkit-transform-origin: left center;
		  -moz-transform-origin: left center;
		  -o-transform-origin: left center;
		  transform-origin: left center;

		  width:100%;
		}
		&:nth-child(2) {
		  top: 7px;
		  -webkit-transform-origin: left center;
		  -moz-transform-origin: left center;
		  -o-transform-origin: left center;
		  transform-origin: left center;

		  width:80%;
		}
		&:nth-child(3) {
		  top: 14px;
		  -webkit-transform-origin: left center;
		  -moz-transform-origin: left center;
		  -o-transform-origin: left center;
		  transform-origin: left center;

		  width:45%;
		}
	}

	&.open{
		span{
			width:100%;
			&:nth-child(1) {
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
    			top: -5px;
				left: 8px;
			}
			&:nth-child(2) {
				width: 0%;
				opacity: 0;
			}
			&:nth-child(3) {
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				transform: rotate(-45deg);
    			top: 20px;
				left: 8px;
			}
		}
	}
}

// services section
.services{
	.columns{
		text-align: center;
		position:relative;
		padding:60px;
		.headline{
			font-size: 1.8rem;
			color:$darkg_color;
			text-transform: uppercase;
		}
		&:first-child{
			background:url(../images/MockupForExam_04.jpg);
			background-size: cover;
			background-repeat: no-repeat;
		}
		&:nth-child(2){
			background:url(../images/MockupForExam_05.jpg);
			background-size: cover;
			background-repeat: no-repeat;
		}
		&:last-child{
			background:url(../images/MockupForExam_03.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			p{
				color:$white;
			}
			.absbot{
				position: absolute;
				bottom: 10px;
				right:10px;
				p{
					position: relative;
					&:after{
						content:" ";
						display:block;
						width:30px;
						height:3px;
						background:#009fd9;
						position: absolute;
						top:50%;
						left:-35px;
					}
				}
			}
		}
		.divider{
			width:3px;
			height:30px;
			background:#009fd9;
			display:block;
			margin:5px auto;
		}
	}
}
// additionals section
.addtls{
	padding:50px 0;
	.ttl{
		position: relative;
	}
}

// why choose section
.whychoose{
	background:#f6f6f6;
	padding:50px 0;
	.columns{
		&:first-child{
			div.inner{
				padding-left: 120px;
			}
		}
		.btn{
			border-radius: 40px;
		}
	}
}
.divider{
	&.horizontal{
		content:" ";
		display:block;
		width:30px;
		height:3px;
		background:#009fd9;
		position: absolute;
		top:50%;
		left:-35px;
	}
	&.orange{
		background:#e58530;
		width:40px;
		left:-50px;
	}
}

// news and events

.newsandevents{
	.col-md{
		&:first-child{
			.inner{
				margin-left: 100px;	
    			padding-right: 15px;
				position: relative;
				.label{
					transform: rotate(-90deg);
					position: absolute;
					top:100px;
					left:-100px;
				}
			}
				ul{
					padding:0;
					li{
						list-style: none;
						border-bottom: 1px solid #e6e6e6;
						div.rm{
							color:$darkg_color;
						}
						&.loadmore{
							padding:30px 0;
						}
					}
				}
			
		}
		&:last-child{
			.col-inner{
				padding: 50px 50px 170px 50px;	
				background:url(../images/MockupForExam_09.jpg);
				background-size: 100% 100%;
				background-repeat: no-repeat;
				color: $white;
			}
			div.tabcontent{
				// width:450px;
				margin: 0 auto;

				.nav-tabs {
				    border-bottom: 0;
				    li{
				    		text-align: center;
				    	a{
				    		margin-right: 60px;
				    		font-size: 1.1rem;
				    		color:$white;
				    		&:hover{
				    			text-decoration: none;
				    		}
					    	&.active{
								border-bottom: 1px solid #dee2e6;
    							padding-bottom: 5px;
					    	}
				    	}
				    	&:last-child{
				    		a{
				    			margin-right: 0;
				    		}
				    	}
				    }
				}
			}
			.btn-container{
				.btn{
					background:rgba(255,255,255,0.4);
					border-radius: 25px;
					border:1px solid #fff;
					color:#fff;
				}
			}
		}
	}
}

// footer styles
footer{
	nav,div.content{
		background:#363943;
		padding:30px 0;
		ul{
			li{
				a.nav-link{
					color:$white;
				}
			}
		}
	}
	div.content{
		p{
			color:$white;
		}
		.links{
			a{
				color:$white;
			}
		}
		.icon{
			display:inline-block;
			height:35px;
			width:35px;
			border-radius: 100%;
			border:1px solid #fff;
			margin-right: 15px;
			&.icon-facebook{
				background:url(../images/fb.png);
				background-size: 100% 100%;
			}
			&.icon-twitter{
				background:url(../images/twitter.png);
				background-size: 100% 100%;
			}
			&.icon-ins{
				background:url(../images/ins.png);
				background-size: 100% 100%;
			}
		}
	}
}

@media all and (max-width: 768px){
	.main-cont {
		.cover-container {
		    width: 100%;
		    .welcome{
		    	margin-top: 30%;
	    		color: #fff;
		    }
		}
	}

	.whychoose{
		.columns{
			padding:15px;
    		text-align: center;
			&:first-child{
				.inner{
					padding-left: 0 !important;
				}
			}
		}
	}
	footer{
		span.signature{
			display:block;
		}
		.links{
			display:block;
		}
		.icons{
			padding-top: 15px;
			text-align: center;
		}
	}
	header{
		.navbar{
			.navbar-nav {
			    // background:#000;
			}
		}
	}
}

@media all and(max-width: 420px){
	.newsandevents{
		.col-md:last-child{
			.col-inner{
			    padding: 50px 15px 55px 15px;
			}
			p.xlg-txt{
				font-size: 2rem;
			}
			div.tabcontent{
				 .nav-tabs{
				 	 li{
				 	 	 a{
						    margin-right: 20px;
						    font-size: 1.1rem;
						    color: #fff;
						}
				 	 }
				 }
			}
		}
	} 
	.divider{
		&.horizontal {
		    content: " ";
		    display: block;
		    width: 18px;
		    height: 3px;
		    background: #009fd9;
		    position: absolute;
		    top: 50%;
		    left:-20px
		}
	}
	
}
