html, body {
  font-size: 1rem;
  font-family: 'OpenSans','sans-serif'; }

* p, span {
  margin: 0; }
  * p.xsm-txt, span.xsm-txt {
    font-size: .8rem; }
  * p.sm-txt, span.sm-txt {
    font-size: 1rem; }
  * p.md-txt, span.md-txt {
    font-size: 1.5rem; }
  * p.lg-txt, span.lg-txt {
    font-size: 2.5rem; }
  * p.xlg-txt, span.xlg-txt {
    font-size: 3.5rem; }

.txt_lightg {
  color: #3c3c3c; }

.txt_878 {
  color: #878787; }

img {
  width: 100%; }

header .fixedbg {
  display: none;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 999; }

header .navbar {
  position: absolute;
  width: 100%;
  z-index: 99999; }
  header .navbar .navbar-brand {
    color: #fff; }
  header .navbar .navbar-nav {
    align-items: center; }
    header .navbar .navbar-nav.menu li a {
      padding: 0 15px; }
    header .navbar .navbar-nav.menu li.login {
      position: relative; }
      header .navbar .navbar-nav.menu li.login:after {
        content: " ";
        position: absolute;
        top: 10px;
        width: 25px;
        background: #009fd9;
        display: block;
        height: 3px;
        right: -20px; }
    header .navbar .navbar-nav li:last-child a.lc {
      padding-left: 30px;
      padding-right: 0; }
    header .navbar .navbar-nav li a {
      color: #fff; }

.main-cont {
  min-width: 320px;
  display: block;
  background: url(../images/MockupForExam_01.jpg);
  background-size: cover;
  width: 100%;
  height: 100%; }
  .main-cont .cover-container {
    width: 50%; }
    .main-cont .cover-container .welcome {
      margin-top: 50%;
      color: #fff; }
      .main-cont .cover-container .welcome .ssm {
        font-size: .9rem; }
      .main-cont .cover-container .welcome .search {
        background: #fff;
        width: 70%;
        margin: 0 auto;
        position: relative;
        height: 45px;
        line-height: 45px;
        border-radius: 30px;
        overflow: hidden; }
        .main-cont .cover-container .welcome .search input {
          width: 100%;
          border: none;
          outline: none;
          padding: 0 15px; }
          .main-cont .cover-container .welcome .search input::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: #e6e6e6;
            font-size: .8rem;
            font-style: italic; }
          .main-cont .cover-container .welcome .search input::-moz-placeholder {
            /* Firefox 19+ */
            color: #e6e6e6;
            font-size: .8rem;
            font-style: italic; }
          .main-cont .cover-container .welcome .search input:-ms-input-placeholder {
            /* IE 10+ */
            color: #e6e6e6;
            font-size: .8rem;
            font-style: italic; }
          .main-cont .cover-container .welcome .search input:-moz-placeholder {
            /* Firefox 18- */
            color: #e6e6e6;
            font-size: .8rem;
            font-style: italic; }
        .main-cont .cover-container .welcome .search .btn {
          position: absolute;
          right: 4px;
          top: 4px;
          border-radius: 33px;
          background: #009fd9;
          color: #fff;
          padding: 5px 15px;
          outline: none; }
          .main-cont .cover-container .welcome .search .btn span {
            padding-left: 5px;
            display: inline-block; }

#navico {
  width: 33px;
  height: 18px;
  margin-right: 9px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }
  #navico span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
    #navico span:nth-child(1) {
      top: 0px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
      width: 100%; }
    #navico span:nth-child(2) {
      top: 7px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
      width: 80%; }
    #navico span:nth-child(3) {
      top: 14px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
      width: 45%; }
  #navico.open span {
    width: 100%; }
    #navico.open span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: -5px;
      left: 8px; }
    #navico.open span:nth-child(2) {
      width: 0%;
      opacity: 0; }
    #navico.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 20px;
      left: 8px; }

.services .columns {
  text-align: center;
  position: relative;
  padding: 60px; }
  .services .columns .headline {
    font-size: 1.8rem;
    color: #333;
    text-transform: uppercase; }
  .services .columns:first-child {
    background: url(../images/MockupForExam_04.jpg);
    background-size: cover;
    background-repeat: no-repeat; }
  .services .columns:nth-child(2) {
    background: url(../images/MockupForExam_05.jpg);
    background-size: cover;
    background-repeat: no-repeat; }
  .services .columns:last-child {
    background: url(../images/MockupForExam_03.jpg);
    background-size: cover;
    background-repeat: no-repeat; }
    .services .columns:last-child p {
      color: #fff; }
    .services .columns:last-child .absbot {
      position: absolute;
      bottom: 10px;
      right: 10px; }
      .services .columns:last-child .absbot p {
        position: relative; }
        .services .columns:last-child .absbot p:after {
          content: " ";
          display: block;
          width: 30px;
          height: 3px;
          background: #009fd9;
          position: absolute;
          top: 50%;
          left: -35px; }
  .services .columns .divider {
    width: 3px;
    height: 30px;
    background: #009fd9;
    display: block;
    margin: 5px auto; }

.addtls {
  padding: 50px 0; }
  .addtls .ttl {
    position: relative; }

.whychoose {
  background: #f6f6f6;
  padding: 50px 0; }
  .whychoose .columns:first-child div.inner {
    padding-left: 120px; }
  .whychoose .columns .btn {
    border-radius: 40px; }

.divider.horizontal {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: #009fd9;
  position: absolute;
  top: 50%;
  left: -35px; }

.divider.orange {
  background: #e58530;
  width: 40px;
  left: -50px; }

.newsandevents .col-md:first-child .inner {
  margin-left: 100px;
  padding-right: 15px;
  position: relative; }
  .newsandevents .col-md:first-child .inner .label {
    transform: rotate(-90deg);
    position: absolute;
    top: 100px;
    left: -100px; }

.newsandevents .col-md:first-child ul {
  padding: 0; }
  .newsandevents .col-md:first-child ul li {
    list-style: none;
    border-bottom: 1px solid #e6e6e6; }
    .newsandevents .col-md:first-child ul li div.rm {
      color: #333; }
    .newsandevents .col-md:first-child ul li.loadmore {
      padding: 30px 0; }

.newsandevents .col-md:last-child .col-inner {
  padding: 50px 50px 170px 50px;
  background: url(../images/MockupForExam_09.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff; }

.newsandevents .col-md:last-child div.tabcontent {
  margin: 0 auto; }
  .newsandevents .col-md:last-child div.tabcontent .nav-tabs {
    border-bottom: 0; }
    .newsandevents .col-md:last-child div.tabcontent .nav-tabs li {
      text-align: center; }
      .newsandevents .col-md:last-child div.tabcontent .nav-tabs li a {
        margin-right: 60px;
        font-size: 1.1rem;
        color: #fff; }
        .newsandevents .col-md:last-child div.tabcontent .nav-tabs li a:hover {
          text-decoration: none; }
        .newsandevents .col-md:last-child div.tabcontent .nav-tabs li a.active {
          border-bottom: 1px solid #dee2e6;
          padding-bottom: 5px; }
      .newsandevents .col-md:last-child div.tabcontent .nav-tabs li:last-child a {
        margin-right: 0; }

.newsandevents .col-md:last-child .btn-container .btn {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 25px;
  border: 1px solid #fff;
  color: #fff; }

footer nav, footer div.content {
  background: #363943;
  padding: 30px 0; }
  footer nav ul li a.nav-link, footer div.content ul li a.nav-link {
    color: #fff; }

footer div.content p {
  color: #fff; }

footer div.content .links a {
  color: #fff; }

footer div.content .icon {
  display: inline-block;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  border: 1px solid #fff;
  margin-right: 15px; }
  footer div.content .icon.icon-facebook {
    background: url(../images/fb.png);
    background-size: 100% 100%; }
  footer div.content .icon.icon-twitter {
    background: url(../images/twitter.png);
    background-size: 100% 100%; }
  footer div.content .icon.icon-ins {
    background: url(../images/ins.png);
    background-size: 100% 100%; }

@media all and (max-width: 768px) {
  .main-cont .cover-container {
    width: 100%; }
    .main-cont .cover-container .welcome {
      margin-top: 30%;
      color: #fff; }
  .whychoose .columns {
    padding: 15px;
    text-align: center; }
    .whychoose .columns:first-child .inner {
      padding-left: 0 !important; }
  footer span.signature {
    display: block; }
  footer .links {
    display: block; }
  footer .icons {
    padding-top: 15px;
    text-align: center; } }

@media all and (max-width: 420px) {
  .newsandevents .col-md:last-child .col-inner {
    padding: 50px 15px 55px 15px; }
  .newsandevents .col-md:last-child p.xlg-txt {
    font-size: 2rem; }
  .newsandevents .col-md:last-child div.tabcontent .nav-tabs li a {
    margin-right: 20px;
    font-size: 1.1rem;
    color: #fff; }
  .divider.horizontal {
    content: " ";
    display: block;
    width: 18px;
    height: 3px;
    background: #009fd9;
    position: absolute;
    top: 50%;
    left: -20px; } }
